.git
.gitignore
**/.next
**/node_modules
**/.env
**/.env.*
!**/.env.example
coverage
**/coverage
dist
**/dist
logs
**/logs
*.log
*.tsbuildinfo
.turbo
**/.turbo
.pnpm-store
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*.tmp
*.bak
deploy/nas/.env
